<%- include("../partials/header") %>
<div class="container">
        <h1>Feedback - Help</h1>
        <p>Hi. It's amazing that you are reading this. Thank you for your support and any comment you have on the platform and its functionality is more than appreciated!</p>
        <hr>
        <div class="container">
            <div class="row text-center">
                <% feedback.forEach(function(fb){ %>
                    <div class="col-3">
                        <p>Name: <%= fb.name %> </p>
                        <p>Date: <%= fb.date %> </p>
                        <a class="btn btn-primary" href="/feedback/<%= fb._id %>">More...</a>
                    </div>
                <% }); %>
            </div>
        </div>
</div>
    <div class="text-center" style="margin-top: 8px">
            <a class="btn btn-primary" href="/">Back to <strong>The Office</strong></a>
            <a class="btn btn-success" href="/feedback/new">Add new Feedback</a>
    </div>

<%- include("../partials/footer") %>

